datafactory/pipeline/pipeline_transform_f1_data_copy1.json
{
	"name": "pipeline_transform_f1_data_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"param_window_end_date": {
								"value": "@pipeline().parameters.param_windw_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Transform Race Results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/f1-project/transformations/1.race_results",
								"baseParameters": {
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_windw_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linedservice_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform Driver Standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Transform Race Results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/f1-project/transformations/2.driver_standings",
								"baseParameters": {
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_windw_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linedservice_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transform Constructor Standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Transform Race Results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/f1-project/transformations/3.constructor_standings",
								"baseParameters": {
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_windw_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linedservice_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Calculated Race results",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/f1-project/transformations/4.calculated_race_results-review",
								"baseParameters": {
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_windw_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linedservice_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"param_windw_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"param_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": []
	}
}